* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* TITOLO E LOGO*/
header {
    background-size: 80px;
    padding: 10px 0px 10px 25px;
    background-repeat: no-repeat;
}

#logo {
    background-image: url(../img/logo\ copia.png);
    background-size: 100px;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
    display: inline-block;
    vertical-align: middle;
}

#text-logo {
    font-size: 50px;
    vertical-align: middle;
    font-family: "public sans";
    font-weight: 900;
}

/* FINE TITOLO E LOGO */
/* PREPARAZIONE DI BACKGROUND */
main {
    background-color: rgb(235, 235, 235);
    height: 1900px;
    width: 1700px;
    padding: 50px;
}

#isola-centrale {
    background-color: rgb(255, 255, 255);
    height: 1800px;
    width: 1200px;
    margin: 0 auto;
    border-radius: 10px 10px 0px 0px;




}