* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {
    background-size: 80px;
    padding: 10px 0px 10px 25px;
    background-repeat: no-repeat;
}

#logo {
    background-image: url(../img/logo\ copia.png);
    background-size: 100px;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
    display: inline-block;
    vertical-align: middle;





}

#text-logo {
    font-size: 50px;
    vertical-align: middle;
    font-family: "public sans";
    font-weight: 900;
}